body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
    {
    margin: 0;
    padding: 0;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 15px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.labelError1{background: url(/StudentManagerWeb/images/error.png); background-color: #fef2f2;}